.cardContainer{
    position: relative;
  width: 290px;
  height: 410px;
  margin-bottom: 30px;
}

.card {
    position: relative;
    height: 410px;
    width: 290px;

    margin-bottom: 30px;
   
   background-image: url(../../Sources/RandM.png) ;
   background-position: center;  
    background-repeat: no-repeat;
    background-position-y:0;
    background-size:cover;
    z-index: 2;
    border-radius: 15px;

    box-shadow: 0 0 10px rgb(255, 252, 47), 0 0 20px rgb(252, 255, 47), 0 0 60px rgb(217, 255, 47);   
    
    animation: pum 1s  backwards;
    transition: transform 0.3s
 }
.card:hover {
    transform: scale(1.05);
 }

 @keyframes pum {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
    
 
    
}

.yCard {
    

    
    
    height: 410px;
    width: 290px;

  
   
   
   background-image: url(../../Sources/RandMYellow.png) ;
   background-position: center;  
    background-repeat: no-repeat;
    background-position-y:0;
    background-size:cover;
    z-index: 1;
    border-radius: 15px;

    box-shadow: 0 0 10px rgb(255, 252, 47), 0 0 20px rgb(252, 255, 47), 0 0 60px rgb(217, 255, 47);   
    
    
}

.videos {
  position: absolute;
  top: -80PX;
  left: -350px;
  width: 1000px;
  animation: desapair 3s forwards;
    
 }

 @keyframes desapair {
    
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
 }
 



.button {
    background-color: rgba(255, 0, 0, 0.74);
    border: none;
    border-radius: 5px;
    z-index: 3;
    position: relative;

    top: -2px;
    left: 230px;
    
    cursor: pointer;
}


.name {
    
    position: relative;
    border: solid green;
    background-color: blanchedalmond;
    border-radius: 10px;
    height: 30px;
    text-decoration: none;
    font-size: 20px;
    padding-left: 5px;
    z-index: 2;
    width: 87%;
    overflow-y: scroll;
    
    top: -21px;
    left: 15px;
    color: black;
    
      
    
}


.link1 {
    text-decoration: none;
}
.image {
    border: solid green;
    position:relative;
   
    height: 55%;
    
    top: -44px;
    left: 29px;
    
    
    
    
}

.species {
    border: solid green;
    background-color: blanchedalmond;
    border-radius: 10px;
    font-size: 19px;
    z-index: 2;
    width: 85%;
    padding-left: 5px;
    
   position: relative;
    
    top: -60px;
    left: 15px;
    color: black;
    
      
}

.gender {
    border: solid green;
    background-color: blanchedalmond;
    border-radius: 10px;
    font-size: 19px;
    z-index: 2;
    width: 85%;
    padding-left: 5px;
    
   position: relative;
    
    top: -75px;
    left: 15px;
    color: black;
    
}

.wbutton {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 20px;
    position: relative;
    left: -3px;
    cursor: pointer;
}

.rbutton {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 20px;
    position: relative;
    left: -3px;
    cursor: pointer;
}


