.App {
   text-align: center;
   
};

.capa {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

#container {
   height: 100vh;
   width: 100vw;

   display: flex;
   justify-content: center;
   align-items: center;
   overflow-y: scroll;

   
}

.video {
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   
   width: 100%;
   height: 100%;
   z-index: -1;
 }
 
 video {
   position: absolute;
    
  
  width: 1920px;
  height: cover;
  z-index: -1;
  
 }

