.App {
   text-align: center;
   
};

.capa {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

#container {
   height: 100vh;
   width: 100vw;

   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;   
}


 
 video {
   position: fixed;
    
  
  width: 100vw;
  height: cover;
  z-index: -1;
  
 }
 

 @media (max-width: 1100px) {
   video {
      border: solid red;
      width: auto;
      height: 100vh;
    }
}

